.camera{
    position: relative;
    height: 20px;
    width: 40px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.body{
    position: absolute;
    height: 20px;
    width: 30px;
    border-radius: 5px;
}

.header{
    position: absolute;
    border: 10px solid transparent; 
    border-radius: 5px;
    left: 10px;
}